<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Foodfy</title>
    {% endblock title %}

    <link rel="stylesheet" href="/styles/home.css">
    {% block styles %}
    {% endblock styles %}

</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div class="logo">
                    <img src="/assets/logo.png" alt="Logo Foodfy">
                </div>
                <div class="menu">
                    <a href="/">Inicio</a>
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                </div>
            </nav>
        </header>

        <div class="content">
        {% block content %}
        {% endblock content %}
        </div>

        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </footer>
    </div>



    {% block modal %}
    {% endblock modal %}

    <script src="/scripts/menu.js"></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
