@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap";

:root {
    --color-pink: #FBDFDB;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    color: #25282B;
}

.container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    background-color: var(--color-pink);
    width: 100%;
    margin-bottom: 32px;
}

nav {
  max-width: 940px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: black;
  margin-left: 20px;
  text-decoration: none;
  opacity: 0.8;
  font-size: 18px;
}

.menu a:hover {
    opacity: 1;
    font-weight: 400;
}

.content {
    max-width: 80%;
    margin: 3% auto;
}

.content-wrapper {
    width: 100%;
    background-color: var(--color-pink);
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

#content-info {
    max-width: 290px;
    margin: 60px 50px
}

#content-info h2 {
    font-size: 28px;
    font-weight: bold;
}

#content-info p {
    width: 100%;
    line-height: 28px;
    margin-top: 10px;
}

#content-image {
    margin: 60px 100px;
    margin-bottom: 0;
}

#content-image img{
    max-width: 300px;
    max-height: 250px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 3%;
}

.cards h2 {
    grid-column: span 3;
    margin-top: 50px;
}

.card {
    cursor: pointer;
}

.card img {
    border-radius: 15px 15px 0 0;
    width: 300px;
    height: 140px;
}

.card h4{
    margin-top: 20px;
    font-weight: normal;
    font-size: 18px;
}

.card p {
    margin-top: 5px;
    color: #777777;
    font-size: 14px;
}
.card:hover {
    transform: translateY(-7px);
    cursor: pointer;
    transition: ease 100ms;
    background-color: #dddcdc;
    border-radius: 15px;
}

.card-info {
    margin: 0 0 10px 10px;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #EEEEEE;
    padding: 28px;
    margin-top: auto;
    /* position: fixed; */
}

footer p {
    color: #999999;
    font-size: 14px;
}

.selected {
    font-weight: bold;
    padding: 0 20px;
    border: 1px solid black;
    border-radius: 15px;
}
